/brlcad-7.22.0/
/debian-brlcad-cmake/
/brlcad-7.22.0.tar.bz2
/brlcad-value-autotools-config.sh
*~
#*
/make-value-brlcad-deb-cmake.sh
/make_deb.sh
/Makefile.orig
/t
/*.deb
/brlcad-7.23.1.tar.bz2
/build.log
/deb-warnings-rev-55130.txt
/brlcad-7.23.1/
/brlcad-7.23.1
/brlcad-version.sh
