/bench/
/bin/
/CMakeFiles/
/CMakeTmp/
/db/
/doc/
/include/
/lib/
/misc/
/pix/
/regress/
/sh/
/share/
/src/
/BRLCAD_CPackOptions.cmake
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/INSTALL.new
/Makefile
/OPTIONS
/build.log
/cmake_install.cmake
/cmakedirs.cmake
/cmakefiles.cmake
/configure.new
/distclean.cmake
/distclean.sh
